
.img-responsive{
	width: 100%;
	max-width: 100%;
}
.no-scroll{
	overflow: hidden !important;
}
.text-center{
	text-align: center;
}
.height100{
	height: 100%;
}
.background-center{
	@include background-center;
}
.va-middle{
	display: table;
	width: 100%;
	height: 100%;
	.va-content{
		display: table-cell;
		vertical-align: middle;
	}
}







