meta(charset = 'utf-8')
meta(http-equiv = 'X-UA-Compatible', content = 'IE=edge,chrome=1')
meta(name="title", content="{{::page.title }}")
meta(name="keywords", content="{{::page.keywords }}")
meta(name="description", content="{{::page.description }}")
meta(name="revisit-after", content="3 days")
meta(name="viewport", content = 'width=device-width, initial-scale=1.0, maximum-scale=1')

// Twitter
meta(name="twitter:card", content="summary")
meta(name="twitter:site", content="@brasserieazur")
meta(name="twitter:title", content="{{::page.title }}")
meta(name="twitter:description", content="{{::page.description }}")
meta(name="twitter:url", content="{{::page.url }}")

// Facebook
meta(property="og:title", content="{{::page.title }}")
meta(property="og:description", content="{{::page.description }}")
meta(property="og:url", content="{{::page.url }}")
meta(property="og:image", content="http://example.com/assets/images/press-default.png")

link(href="assets/images/favicon.ico", rel="shortcut icon", type="image/vnd.microsoft.icon")
