calculator {

  & > md-toolbar {
    text-align: center;
  }

  .layout-content {
    max-width: 600px;
    margin: 0 auto;
  }

  .reference {
    display: inline-block;
    margin: 0 0 0 10px;
    cursor: pointer;
  }

  md-input-container > span {
    display: block;
    margin: 0 0 10px 0;
  }

  #ready {
    margin: 10px -16px -16px -16px;
    padding: 10px;
    background-color: #F1F1F1;
  }

}