
md-toolbar.md-primary(aria-hidden="false")
    h1 Save Money Challenge

md-content(flex, layout-padding, md-scroll-y)
    .layout-content

        div(flex, layout="row")
            p.
                This calculator is based on the <strong>52 Week Save Money Challenge</strong>.
                <a href="http://www.savingadvice.com/articles/2013/01/10/1013660_52-week-save-money-challenge.html" title="" target="_blank">What's 52 Week Save Money Challenge?</a>
                <br>
                But, that is a little complicate, because it's difficult to remember the number of the week and maybe you want to change it.
                <br>
                For that reason, I create this <strong>Calculator</strong>, which you can modify it based on different scenarios.

        div(flex, layout="row")
            md-button.md-raised(ng-click="flag.createChallenge = false", ng-hide="flag.createChallenge == false") Show me the Original 52 weeks
            md-button.md-raised.md-primary(ng-click="flag.createChallenge = true", ng-hide="flag.createChallenge == true") Create my own Challenge

        md-card(layout-padding, ng-if="flag.createChallenge")
            form(ng-submit="$event.preventDefault()")

                // Start Saving
                md-input-container.md-block
                    span Start Saving
                    md-radio-group(ng-model='startsaving')
                        md-radio-button.md-primary(value='beginning') Beginning (week 1)
                        md-radio-button.md-primary(value='thisweek')  This week (week {{::week.current}})
                        md-radio-button.md-primary(value='specific') Specific week

                // Select a Week
                md-input-container.md-block(ng-if="startsaving === 'specific'")
                    label Select a Week
                    md-select(ng-model='selectweek')
                        md-option(ng-repeat='number in week.inArray', value='{{::number}}', ng-selected="number === week.current")
                            | {{::number}}



                // Change the amount
                md-input-container.md-block
                    span
                        |Change the amount
                        small.reference.color-red(ng-click="showAlert($event)") What's this?

                    md-radio-group(ng-model='changeamount')
                        md-radio-button.md-primary(value='yes') Yes
                        md-radio-button.md-primary(value='no') No

                // Deposit
                md-input-container.md-block(ng-if="changeamount === 'yes'")
                    span Deposit
                    div(layout="row")
                        md-input-container
                            input(ng-model="deposit.min", type="number", step="0", placeholder="Min amount")
                        md-input-container
                            input(ng-model="deposit.max", type="number", step="0", placeholder="Max amount")



                // Deposit day
                md-input-container.md-block
                    label Deposit day
                    md-select(ng-model='depositDay')
                        md-option(ng-repeat='day in days', value='{{::day}}')
                            | {{::day}}



                // Submit
                md-input-container#ready.md-block
                    div(layout="row")
                        md-button.md-raised.md-primary(ng-click="calculateForm()") Calculate
                        md-button.md-raised.md-default(ng-click="clearForm()") Reset


